{
  "env": {
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "document": false
  },
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "react/prop-types": ["off"],
    "react/no-unused-state": ["error"],
    "react/display-name": ["off"]
  }
}
