.vscode
.next
node_modules
package-lock.json
packages/*/lib/**
docs/storybook-static

packages/i18n
packages/public-header
packages/ab-experiments
packages/action-sheet
packages/app-installation-cta
packages/poi-detail

