.vscode
.next
node_modules
package-lock.json
packages/*/lib/**
docs/storybook-static

packages/i18n
packages/intersection-observer
packages/react-hooks
packages/scrap-button
packages/style-box
packages/type-definitions
packages/web-storage
packages/listing-filter
packages/static-page-contents
packages/public-header
packages/ab-experiments
packages/action-sheet
packages/app-banner
packages/app-installation-cta
packages/author
packages/content-sharing
packages/hub-form
packages/image-carousel
packages/pricing
packages/recommended-contents
packages/search
packages/slider
packages/form
packages/poi-detail
packages/ui-flow
packages/poi-list-elements

