{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "jsc": {
    "target": "es5",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "throwIfNamespace": false
      }
    }
  },
  "exclude": [".*/.(test|spec|stories)/.(js|ts)x?$"]
}
