{
  "extends": ["@titicaca/eslint-config-triple/typescript", "plugin:mdx/recommended"],
  "rules": {
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-unused-expressions": "off"
  }
}
